<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataProtectionConfigurationProvider"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Sample Code\Chapter 5\DB Setup\Nwind.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>